.App {
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #2e7d32;
  transform: scale(0.95);
}

button:focus {
  outline: none;
} */

.start-button {
  transition: transform 0.3s ease;
}

.start-button:hover {
  transform: scale(1.05);
  filter: brightness(.9);
  cursor: pointer;
}

@keyframes move {
  0% { transform: translateX(calc(-50vw - 15vw)); }
  50% { transform: translateX(calc(50vw + 15vw)); }
  51% { transform: translateX(calc(50vw + 15vw)) scaleX(-1); }
  100% { transform: translateX(calc(-50vw - 15vw)) scaleX(-1); }
}

.moving-character {
  position: absolute;
  bottom: 0;
  width: 15vw; /* adjust this to change the size of the image */
  animation: move 15s linear infinite;
  z-index: 1; /* this will place the moving character at the base level */
}

.title-image, .start-button {
  position: relative; /* this will create a new stacking context */
  display: block;
  margin: 0 auto;
  z-index: 2; /* this will place the title image and the start button in front of the moving character */
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.title-image {
  position: relative; /* this will create a new stacking context */
  display: block;
  margin: 0 auto;
  margin-top: -150px; /* adjust this value to move the title image up */
  z-index: 2; /* this will place the title image in front of the moving character */
  animation: float 2s ease-in-out infinite -0.25s; /* this will apply the floating animation to the title image */
}

.start-button {
  margin-top: -100px; /* adjust this to change the space between the title image and the start button */
  animation: float 2s ease-in-out infinite; /* this will apply the floating animation to the start button */
}

.section-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.65;
  z-index: 1;
}

body {
  font-family: 'Pixelify Sans', sans-serif;
}
